@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav{
    background-color:#271204;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 12;
}

nav .menu{
    background-color:#271204;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.logo{
    font-size: 35px;
    color: #ffff;
    font-weight: 600;

}
 .menu ul{
    display: inline-flex;
     list-style: none;
 }
 .menu ul li{
   margin-left: 7px;
  
   
  
}
.menu ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    padding: 8px 15px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.menu ul li a:hover{
    background-color: #ffff;
    color: #000;
}

.img{
    height: 100vh;
    width: 100%;
    background: url(/Day-5/picture/pexels-igor-haritanovich-1695052.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.img::before{
 content: '';
height: 100vh;
width: 100%;
position: absolute;
 background: rgba(0, 0, 0, 0.5);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
   
    text-align: center;
    padding: 0 20px;
    width: 100%;
}
.center .title{
    font-size: 55px;
    color: #ffff;
    font-weight: 600;
}
.center .btns{
    margin-top: 10px;
}
.btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px soldi #ffff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -ms-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
}

