@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    height: 100vh;
    width:100% ;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #517c63;
}

.box{
    max-width: 400px;
    width:100% ;
    
}

.box .search-box{
   height: 50px;
   max-width: 50px;
   margin: auto;
   position: relative;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}
.search-box input{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius:25px ;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;
    padding-left: 20px;
}
 .icon{
    top: 0;
    right: -2px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    font-size: 20px;
    width: 50px;
    background: #fff;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #517c63;
}
#checkbox:checked ~ .search-box{
  max-width: 380px;
}

#checkbox:checked ~ .search-box .icon{
    background: #517c63;
    color: white;
    border-radius: 0 25px 25px 0;
}

#checkbox{
    display: none;
}